/* resest browser settings */
* {
    padding: 0px;
    margin: 0px;
}
.alpha{
    position: relative;
    top: 70px;
}

#navbar{
    background-color:#2b3238;
    position: fixed;
    top: 0;
    max-height: 70px;
    width: 100%;
    
    z-index: 1;
    align-items: center;
}
/* box containing facebook twitter and insta icon */
.right{
    position: absolute;
    right: 5px;
    top: 25px;
    width: 200px;
    height: 50px;
    /* border: solid 2px green; */

}

/* box containing co-working */
.leftco{
    text-decoration: none!important;
    display: block;
    color: white!important;
    z-index: 50;

}
.left {
    /* border: solid 2px red; */
    position: relative;
    top: -9px;
    left: 125px;
    font-weight: 500;
    z-index: 50;
    font-size: 25px;
    font-family: sans-serif;
}
/* box containing co-working */
.leftco:hover{
    color: lightgray!important;
   
}

div  li a{
    
        text-decoration: none;
        color: white;
        margin: 5px 10px 5px 10px;
        padding: 0px 20px 0px 20px;
        display: block;
        align-self: center;
        /* border: solid 1px silver; */
        font-size: 15px;
        font-weight: 00;
        line-height: 70px;
        letter-spacing: .02em;
        top: 3px;
        font-family: sans-serif;
        position: relative;
    }
    
    div li a:hover{
        color: lightgray;
}

div  li{
    list-style: none;
    display: inline-block;
}
/* box containing the list */
.mid {
    display: block;
    /* border: solid 2px violet; */
    width: 60%;
    margin: 0px 0px 0px 125px;
}
/* header facebook icon */
#fb{
    position: relative;
    top: 4px;
    margin: 10px;
    pointer-events: initial;
}
/* header instagram icon */
#insta{
    position: relative;
    top:4px;
    margin: 10px;
}
/* header twitter icon */
#tw{
    position: relative;
    top: 4px;
    margin: 10px;
}


.sec1{
    /* border: solid 2px red; */
    height: 170px;
    
    /* display: inline-block; */
}
#text1{
    /* border: solid 2px blue; */
    max-width: 50%;
    display: block;
    right: 0px;
    position:absolute;
}
.head1{
    /* display: inline-block; */
    /* border: solid 2px pink; */
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    color: #20a997;
    letter-spacing: 5px;
    left: 100px;
    top: 30px;
}
.head2{
    /* display: inline-block; */
    /* border: solid 2px black; */
    position: relative;
    font-size: 30px;
    font-family: sans-serif;
    left: 100px;
    top: 25px;
}
.mnhead1{
    /* border: solid 2px yellow; */
    max-width: 50%;
    margin-top: 140px;
    display: flex;
}

.para1{
    /* border: solid 2px green; */
    text-align: justify;
    font-family: sans-serif;
    /* background-color: rgb(5, 179, 5); */
    font-size: 30px;
    padding: 5px 70px 0px 30px;
    }

    /* .mnhead2{
        display: grid;
        background-color: purple;
        border: solid 2px brown;
        grid-template-columns: auto auto auto;
    }

    .box{
        border: solid 1px burlywood; */
   
        .carousel-item{
            height: 90vh;
        }

        .carousel-caption {
            top: 50%;
            transform: translateY(-50%);
        }

        .carousel-caption h5 {
            font-size: 20px;
            letter-spacing: 10px;
        }
        
        .carousel-caption h1 {
            padding-top: 5px;
            font-size: 60px;
            font-weight: 600;
        }
        
        .carousel-caption p {
            padding-top: 5px;
            font-size: 20px;
        }
        .button1{
            background-color: #20a997;
            border-color: #20a997;
            color: #ffffff;
            margin: 20px 200px;
            font-size: 20px;
            padding: 10px;
            border-radius: 5px;
            align-items: center;
        }

        .button1:hover{
            background-color: #147568;
        }

        .symbol {
            box-sizing: border-box;
            /* border: solid 2px orange; */
            margin-top: 100px;
            padding: 5px 100px 5px 100px;
            width: 100%;
            display: flex;
            /* align-items: center; */
            flex-direction: row;
            flex-wrap: wrap;
            min-height: 500px;
        
        }
        
        .symbol section {
            box-sizing: border-box;
            /* border: solid 2px green; */
            display: flex;
            flex-direction: column;
            padding: 0px 0.5px 0px 0.5px;
            /* margin: 0px 5px 0px 5px; */
            justify-content: center;
            text-align: center;
            width: 25%;
        }

        .symbol section i {
            font-size: 50px;
            color: #a1ce55;
        }