/* / resest browser settings / */
* {
    padding: 0px;
    margin: 0px;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.alpha {
    position: relative;
    top: 0;
}


header {
    background-color: rgb(35, 35, 41);
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 5;
}

.mid nav ul li {
    display: inline-block;
    list-style-type: none;

}

.mid .sub-menu {
    display: none;
    position: relative;
}

.mid .sub-menu ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(35, 35, 41);
}

.mid .sub-menu ul li {
    padding-top: 22px;
    padding-right: 8px;
    padding-bottom: 10px;
    margin-left: -40px;
}

.mid .smain:hover .sub-menu {
    display: block;

}

.mid .smain1 {
    display: none;
}

.mid {
    padding-top: 10px;
}

.header section a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding-bottom: 20px;

}

.header section {
    display: none;
}

.social {
    padding-top: 10px;
}

.social nav ul li {
    display: inline-block;
    list-style: none;

}

.mid nav li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0 30px;

}

.social nav li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    padding: 0 10px;
}

.mid nav ul li .Logo {
    font-size: 1.5rem;
    font-weight: 505;
}

.mid nav li a:hover {
    color: rgb(214, 212, 212);
    transition: .4s;
}

.toggle_btn {
    font-size: 1.5rem;
    color: white;
    display: none;

}

.container1 {
    margin: 10vh 10vh 0vh 10vh;
    /* border: 2px solid red; */
    min-height: 40vh;
    display: flex;
}

.mnhead1 {
    width: 100%;
    min-height: 40vh;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
}

.head1 {
    color: #20a997;
    letter-spacing: 0.35rem;
    font-size: 0.95rem;
}


.mnhead1 .sec1 {
    width: 50%;
    /* border: 2px solid yellow; */
}

.mnhead1 .sec2 {
    width: 50%;
    /* border: 2px solid yellow; */
}

.sec2 p {
    font-size: 1.5625rem;
}

/* .mnhead2{
        display: grid;
        background-color: purple;
        border: solid 2px brown;
        grid-template-columns: auto auto auto;
    }

    .box{
        border: solid 1px burlywood; */

.carousel-item {
    height: 90vh;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h5 {
    font-size: 20px;
    letter-spacing: 10px;
}

.carousel-caption h1 {
    padding-top: 5px;
    font-size: 60px;
    font-weight: 600;
}

.carousel-caption p {
    padding-top: 5px;
    font-size: 20px;
}

.button1 {
    background-color: #20a997;
    border-color: #20a997;
    color: #ffffff;
    margin: 20px 200px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
}

.button1:hover {
    background-color: #147568;
}

.icons {
    box-sizing: border-box;
    /* / border: solid 2px orange; / */
    /* margin-top: 100px; */
    padding: 5px 100px 5px 100px;
    width: 100%;
    display: flex;
    /* / align-items: center; / */
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 500px;

}

.icons section {
    box-sizing: border-box;
    /* / border: solid 2px green; / */
    display: flex;
    flex-direction: column;
    padding: 0px 4px 0px 4px;
    /* / margin: 0px 5px 0px 5px; / */
    justify-content: center;
    text-align: center;
    width: 25%;
}

.icons section i {
    font-size: 50px;
    color: #6fa01c;
}

.sub1 {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;

}

.sub1 section {
    width: 50%;
}

.sub1 .left2 {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0px 0px 0px 115px;
}

.sub1 .right2 {
    height: 700px;
}

.sub1 .left2 h2 {
    color: #20a997;
    letter-spacing: .3em;
    padding-top: 66px;
    font-size: 1rem;
}

.sub1 .left2 h1 {
    color: #2b3238;
    font-size: 3rem;
    line-height: 2.8rem;
    padding-top: 2px;
}

.sub1 .left2 p {
    font-size: 1rem;
    padding-top: 15px;
    font-weight: 300;
    color: black;
}

.sub1 .right2 img {
    width: 80%;
    height: 75%;
    margin-left: 5px;
    object-fit: cover;
}

.box {
    margin-top: -10vh;
    display: flex;
    height: max-content;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: row;
    row-gap: 3%;
    padding: 0px 100px 0px 100px;
    max-height: 3000px;
    flex-wrap: wrap;
    width: 100%;

}

.box section {
    box-sizing: border-box;
    position: relative;
    min-height: 50vh;

}

.box .box1 {
    width: 32%;

}

.box .box2 {
    box-sizing: border-box;
    width: 32%;

    background-color: #20a997;
}

.box .box2 h1 {
    font-size: 2.125rem;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 4rem 2rem;

}

.box .box3 {
    width: 32%;

}

.box .box4 {
    margin-top: 20px;
    width: 66%;
    min-height: 65vh;

}

.box .box5 {
    margin-top: 20px;
    width: 32%;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 6rem 2rem;
    color: white;
    background-color: #341abd;
    ;

}

.box .box5 h2 {
    letter-spacing: .3em;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.box .box5 p {
    font-size: 2.125rem;
    font-weight: 500;
    color: white;
    text-align: center;

}

.box .box6 {
    margin-top: 20px;
    width: 32%;

    background-color: #a1ce55;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}

.box .box6 i {
    color: white;
    font-size: 4rem;
    text-align: center;
}

.box .box6 h1 {
    padding-top: 1rem;
    color: white;
    text-align: center;
}

.box .box6 p {
    padding-top: 1rem;
    color: white;
    text-align: center;
}

.box .box7 {
    margin-top: 20px;
    width: 32%;

}

.box .box8 {
    margin-top: 20px;
    width: 32%;

}

.box .para {
    position: absolute;
    top: 20%;
    text-align: center;
    color: white;
    font-size: 2.225rem;
    visibility: hidden;
}

.box img:hover {
    filter: brightness(50%);
    transition: .1s ease;
}

.box .box1:hover .para {
    visibility: visible;
    cursor: pointer;
}

.box .box3:hover .para {
    visibility: visible;
    cursor: pointer;
}

.box .box4:hover .para {
    visibility: visible;
}

.box .box7:hover .para {
    visibility: visible;
}

.box .box8:hover .para {
    visibility: visible;
}

.box section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.samp1 {
    min-height: 20vh;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    min-height: 20vh;
    text-align: center;
}

.samp1 h1 {
    font-size: 1rem;
    font-weight: 500;
    color: #20a997;
}

.samp1 p {
    font-size: 3rem;
    color: black;
    font-weight: 510;
}


.owl-carousel {
    margin-top: 3vh;
}

.textslider .carousel-item {
    margin-top: 20vh;
    text-align: center;
    padding: 0 25%;

}

.textslider .carousel-item i {
    font-size: 2rem;
    color: #59cabb;
}

.textslider .carousel-item p {
    font-size: 2.225rem;
}

.textslider .carousel-item h1 {
    padding-top: 10px;
    font-size: 1.25rem;
}

.textslider .carousel-item h2 {
    padding-top: 7px;
    font-size: 1rem;
    font-weight: 510;
    color: #7db125
}

.sub2 {
    margin-top: 0px;
}

.sub2 .samp2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 70vh;


}

.sub2 .samp2 section {
    width: 48%;
    /* / border:2px solid yellow; / */
}


.sub2 .samp2 .imgg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgg img {
    padding: 0px 0px 0px 100px;
}

.sub2 .samp2 .right3 {
    padding: 10vh 3vh;
    display: flex;
    flex-direction: column;
    /* / justify-content: space-between; / */

}

.sub2 .samp2 .right3 h1 {
    font-size: 2.225rem;
    font-weight: 500;
}

.sub2 .samp2 .right3 p {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 300;
}

.sub2 .samp2 .right3 button {
    width: 40%;
    background-color: #20a997;
    color: white;
    height: 2.5rem;
    font-size: 1.2rem;
    border: #20a997;
    cursor: pointer;
    border-radius: 5px;
}

.sub2 .samp2 .right3 i {
    color: #20a997
}

.sub2 .samp2 .right3 button:hover {
    background-color: #10574e;
    font-size: 1.3rem;
    transition: .4s ease;
}

.sub3 .samp3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* / border: 2px solid yellow; / */
    height: max-content;
}

.sub3 .samp3 .beta {
    margin-top: 20vh;
    text-align: center;
    min-height: 20vh;
    /* / border:2px solid yellow; / */
}

.sub3 .samp3 .beta h1 {
    color: #20a997;
    font-size: 1rem;
}

.sub3 .samp3 .beta p {
    color: black;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.12;
}

.sub3 .samp3 .end {
    min-height: auto;
    display: flex;
    padding: 0vw 7.45vw 0vw 7.45vw;
    flex-direction: row;
    justify-content: space-between;

}

.sub3 .samp3 .end div {
    position: relative;
    min-height: 50vh;
    width: 24%;
    /* / border:2px solid yellow; / */
}

.sub3 .samp3 .end img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub3 .samp3 .end .gamma {
    background-color: #20a997;
}

.sub3 .samp3 .end .gamma p {
    padding: 4vh 2vh;
    text-align: center;
    font-size: 2.225rem;
    color: white;
    font-weight: 500;
}

.sub3 .samp3 .end i {
    position: absolute;
    top: 40%;
    right: 47%;
    color: white;
    font-size: 2rem;
    filter: brightness(100%);
    visibility: hidden;
}

.sub3 .samp3 .end img:hover {
    filter: brightness(50%);
    cursor: pointer;
}

.sub3 .samp3 .end .gamma:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.sub3 .samp3 .end div:hover i {
    visibility: visible;
}

.footer {
    width: 100%;
    min-height: 75vh;
    background-color: rgb(51, 51, 51);

}

.container2 {
    width: 93%;
    margin-left: 7%;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 10vh;

}

.footer .container2 div {
    width: 30%;
    display: flex;
    padding-top: 20vh;
    flex-direction: column;
    min-height: 50vh;
    /* / margin-left: 20vh; / */
    /* border: 2px solid red; */
    /* / border: 2px solid red; / */

}

.footer .icon2 {
    font-size: 2rem;
}

.footer .icon2 .fa-square-facebook {
    color: #a1ce55;
}

.footer .icon2 .fa-square-instagram {
    color: #20a997;
}

.footer .icon2 .fa-square-twitter {
    color: white;
}

.footer .button input {
    width: 100%;
    padding: 10px;
    background-color: rgb(51, 51, 51);
    color: white;
    height: 35px;
    margin-top: 10px;
    border: 1px solid gray;
}

.footer .button button {
    position: absolute;
    width: 40px;
    right: 66%;
    color: white;
    margin-top: 11px;
    background-color: rgb(51, 51, 51);
    height: 33px;
    border: none;
    /* / background-color: white; / */

}

.footer .button button:hover {
    background-color: rgb(43, 42, 42);
    cursor: pointer;
}

.footer div h1 {
    color: white;
    font-size: 2.225rem;
    font-weight: 500;
}

.footer div p {
    margin-top: 20px;
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

.footer .container2 div ul {
    margin-top: 20px;

    /* list-style-type: "-"; */
    color: white;
}

.footer div ul li::before {
    content: "-";
    margin-right: 5px;
}

.footer div ul li {
    text-decoration: none;
    /* / line-height: 0px; / */
    display: block;
}

.footer div ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.footer .mail {
    margin-top: 4px;
}

.footer div ul li a:hover {
    color: rgb(190, 185, 185);
    transition: .3s ease;
}

.footer .mail:hover {
    color: rgb(190, 185, 185);
    transition: .3s ease;
}

.footer .phone:hover {
    color: rgb(190, 185, 185);
    transition: .3s ease;
}


/* / MEDIA QUERIES / */
@media (max-width: 900px) {



    header {
        position: relative;
    }

    .mid .smain:hover .sub-menu {
        display: none;

    }

    .mid .smain1 {
        display: block;
    }

    .mid nav ul {
        width: 100%;
        height: 100vh;
        background-color: rgb(51, 51, 51);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translate(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: none;
        pointer-events: none;
    }

    .active .mid nav ul {
        opacity: 1;
        transform: translatex(0);
        visibility: visible;
        pointer-events: auto;

    }

    .active .mid .sub-menu {
        position: relative;
        top: 100px;
        height: 10vh;
    }

    .header section {
        position: absolute;
        left: 8px;
        top: 15px;
        display: block;

        font-size: 1.5rem;
    }

    .mid nav ul li .Logo {
        position: absolute;
        left: 0px;
        top: 15px;
        display: block;

        font-size: 1.5rem;
        display: none;
    }

    .toggle_btn:hover {
        cursor: pointer;
    }

    .social nav li a {
        display: none;
    }

    .toggle_btn {
        position: absolute;
        right: 4px;
        top: 15px;
        display: block;
        font-size: 1.5rem;
        color: white;
    }

    .container1 {
        max-height: 40vh;
        min-height: 0;
        margin: 5vh 5vh 0vh 5vh;
    }

    .head1 {
        color: #20a997;
        letter-spacing: 0.3rem;
        font-size: 1em;
    }

    .head2 {
        font-weight: 500;
        font-size: 2rem;
    }

    .mnhead1 {
        display: flex;
        width: 100%;
        max-height: 40vh;
        min-height: 0;
        flex-direction: column;
    }

    .mnhead1 .sec1 {
        width: 100%;
    }

    .mnhead1 .sec2 {
        width: 100%;
        margin-top: 4vh;
    }

    .sec2 p {
        font-size: 1.5rem;
    }

    .carousel-item {
        height: 100%;

    }

    .carousel-caption {
        top: 35%;
        transform: translateY(-50%);
    }

    .carousel-caption h5 {
        font-size: 0.8rem;
        letter-spacing: .15em;
    }

    .carousel-caption h1 {
        padding-top: 4px;
        font-size: 2rem;
        font-weight: 700;
    }

    .carousel-caption p {
        padding-top: 4px;
        font-size: 0.9rem;
    }

    .carousel-caption button {
        background-color: #20a997;
        color: white;
        width: 120px;
        height: 50px;
        border-radius: 8px;
        border: none;
    }

    .carousel-caption button:hover {
        background-color: #0d443c;
        transition: .3s ease;
    }

    .icons {
        margin-top: 100px;
    }

    .icons section {
        width: 50%;
    }

    .sub1 {
        flex-direction: column;
    }

    .sub1 .left2 {
        padding: 0px 50px 0px 60px;
    }

    .sub1 .right2 img {
        width: 100%;
        height: 100%;
        padding-left: 5vh;
        padding-right: 5vh;
        object-fit: contain;
    }

    .sub1 section {
        width: 100%;
    }

    .box {
        margin-top: 10vh;
    }

    .box .box1 {
        width: 100%;
    }

    .box .box2 {
        margin-top: 20px;
        width: 100%;
    }

    .box .box3 {
        margin-top: 20px;
        width: 100%;
    }

    .box .box4 {
        margin-top: 20px;
        width: 100%;
    }

    .box .box5 {
        margin-top: 20px;
        width: 100%;
    }

    .box .box6 {
        margin-top: 20px;
        width: 100%;
    }

    .box .box7 {
        margin-top: 20px;
        width: 100%;
    }

    .box .box8 {
        margin-top: 20px;
        width: 100%;
    }

    .samp1 {
        margin-top: 175vh;
    }

    .sub2 .samp2 {

        display: flex;
        flex-direction: column;
    }

    .sub2 .samp2 section {
        margin-top: 5vh;
        width: 100%;
    }

    .imgg img {
        align-self: center;
        padding: 0px 50px;
    }

    .sub3 .samp3 {
        width: 100%;
    }

    .sub3 .samp3 .end {
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }

    .sub3 .samp3 .end div {
        margin-top: 20px;
        width: 100%;
    }

    .textslider .carousel-item {
        margin-top: 20vh;
        text-align: center;
        padding: 0%;
        margin-bottom: 10vh;

    }

    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
    }

    .footer div {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .container2 {
        flex-direction: column;
    }

    .footer .container2 div {
        width: 100%;
    }

    .footer .button input {
        width: 90%;
        border: none;
    }

    .footer .button button {
        position: absolute;
        width: 40px;
        left: 87%;
        margin-top: 11px;
        height: 33px;
        border: none;
        background-color: #333;

    }

    .footer div ul li::before {
        content: none;
        margin-right: 0;
    }
}


@media (max-width: 600px) {

.carousel-caption h5{
    font-size: 0.75rem;
}
.carousel-caption .button1{
    line-height: 0px;
}
.carousel-caption button{
    height: 20px;
    border-radius: 5px;
    font-size: 1rem;
    width: 100px;
}
.carousel-caption h1{
    font-size: 1rem;
}
.carousel-caption p{
    font-size: 0.675rem;
}

    .button1{
        left: -33%;
        position: relative;
    }
    .icons section {
        width: 100%;
        margin-top: 20px;
    }
.samp1{
    margin-top: 140vh;
}
    .box {
        padding: 0px 10px 0px 10px;
    }

    .sub .samp3 .end {
        padding: 0px 10px 0px 10px;
    }
}